<%= stylesheet_link_tag 'index', :media => "all" %>
<div class="top-container">
    <h1>~my page~</h1>
</div>

<div class="prof">
    <h2>名前：山下侑起</h2>
    <h2>大学：横浜国立大学</h2>
    <h2>学部：経済学部</h2>
    <h2>生年月日：２００１年５月３日</h2>

</div>

<div class="bottom-container">
    <ul>
        <li class="circle"><h3>所属サークル</h3><br>
        Lumos<br>
        横浜国立大学公認サークル<br>
        ２０２２年度より本格的に活動開始<br>
        Lumosアウトドア部部長</li>
        <li class="hobby"><h3>趣味</h3><br>
        野球<br>
        幼稚園のころから始める<br>
        キャリアは今年で１６年目<br>
        横浜DeNAベイスターズの大ファン</li>
        <li class="recent"><h3>最近の出来事</h3><br>
        アメリカ旅行<br>
        ９月末にラスベガスへ一人旅<br>
        カジノでちょっとだけ勝ってきた<br>
        次に行きたい場所は、アイスランドかボリビア
        </li>
    </ul>